body{
    background: #cccccc
}

li,
p,
div,
td {
    font-family: "Fredoka One", monospace;
}

th {
    text-align: center;
    text-justify: newspaper;
    font-size: 1.75rem;
    font-family: "Sigmar One", monospace;
    text-shadow: 0.2rem 0.2rem #3a3c4e;
    background: linear-gradient(-35deg, #343a40, #24262D, #343a40, #24262D, #343a40) !important;
color: #cccccc;
}
img {
    width: 100%;
}

.jumbotron{
    background: linear-gradient(-35deg, #343a40, #24262D, #343a40, #24262D, #343a40) !important;
    margin-bottom: 3rem !important;
    background: linear-gradient(-35deg, #3a3c4e, #343a40, #24262D, #3a3c4e, #343a40, #24262D, #343a40) !important;
    font-family: "Sigmar One", monospace;

}
.jumbotitle, .lead{
    text-shadow: 0.5rem 0.5rem #3a3c4e;

}

img{
    border: double 0.5rem #343a40;
    max-width: 60rem;
margin-left: 20%;
}